// colors

// Ocean Blue:
// RAL: 5005
// Hex: #1F4788
// Cargo Green:
// RAL: 6024
// Hex: #008543
// Steel Gray:
// RAL: 7031
// Hex: #8A8D8F
// Safety Yellow:
// RAL: 1023
// Hex: #FFC20E

@import "react-toastify/dist/ReactToastify.css";

@import "bootstrap/scss/bootstrap";

:root {
  --base-color: #ffffff;
  --ocean-blue: #1f4788;
  --cargo-green: #008543;
  --safety-yellow: #ffc20e;
  --steel-gray: #8a8d8f;
}

.base-color-back {
  background-color: var(--base-color);
}

.ocean-blue-back {
  background-color: var(--ocean-blue);
}
.safety-yellow-back {
  background-color: var(--safety-yellow);
}
.steel-gray-back {
  background-color: var(--steel-gray);
}

.cargo-green-back {
  background-color: var(--cargo-green);
}

.cargo-green-btn {
  background-color: var(--safety-yellow);
  border: var(--safety-yellow);
  color: rgba(0, 0, 0, 0.8);

  &:hover {
    background-color: var(--ocean-blue);
    border: var(--ocean-blue);
    color: var(--safety-yellow);
  }
}

.base-color {
  color: var(--base-color);
}

.cargo-green {
  background-color: var(--cargo-green);
}

.ocean-blue {
  color: var(--ocean-blue);
}
.safety-yellow {
  color: var(--safety-yellow);
}
.steel-gray {
  color: var(--steel-gray);
}

.logo-img {
  height: 50px;
}

body {
  background-color: var(--base-color);
}

// FOOTER

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

  .logo {
    width: 2rem;
    padding: 0.1rem;
  }
}
